@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-transform: capitalize;
}
:root {
  --blue: #0275dd;
  --white: #ffffff;
  --gray: #34495e;
  /* max width  */
  --max-width: 1140px;
}

.header {
  background-image: url(../images/bg.jpg);
  height: 100vh;
}

.header .container {
  background: var(--white);
  display: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header .navbar {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header .navbar .logo {
  color: var(--nav-hover);
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
}
.header .navbar .logo a {
  color: var(--gray);
}
.toogle-icon {
  display: none;
}
.toogle-icon img {
  width: 25px;
  height: 25px;
}
.navbar .navlinks {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .navlinks > li {
  position: relative;
  float: right;
}
.navbar .navlinks li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--gray);
  padding: 20px 20px;
}

.navbar .navlinks li:hover {
  background: var(--gray);
}
.navbar .navlinks li:hover > a {
  color: var(--white);
}
.navbar .navlinks li > ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  list-style: none;
  width: 150px;
  background: var(--white);
}
.navbar .navlinks li:focus-within > ul,
.navbar .navlinks li:hover > ul {
  display: initial;
}
.navbar .navlinks li ul li > ul {
  position: absolute;
  top: 30px;
  left: 150px;
  list-style: none;
  width: 150px;
  background: var(--white);
}
@media (max-width: 900px) {
  .toogle-icon {
    display: initial;
    display: flex;
    align-items: center;
  }
  .navbar .navlinks {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    border-top: 1px solid #000;
    background: var(--white);
  }
  .navbar .navlinks li {
    width: 100%;
    display: block;
  }
  .navbar .navlinks li ul {
    position: relative;
    width: 100%;
  }
  .navbar .navlinks li ul li {
    background: var(--white);
    width: 100%;
  }
  .navbar .navlinks li ul li ul {
    width: 100%;
    position: absolute;
    left: 0;
  }
}
